{:deps
 {org.clojure/clojure    {:mvn/version "1.9.0"}
  ring/ring-codec        {:mvn/version "1.1.1"}
  org.clojure/data.xml   {:mvn/version "0.2.0-alpha5"}
  cheshire               {:mvn/version "5.8.0"}
  org.clojure/core.async {:mvn/version "0.4.474"}
  clj-http               {:mvn/version "3.9.1"}
  net.cgrand/xforms      {:mvn/version "0.16.0"}}
 :paths ["src" "classes" "resources"]}
